.login {
    width: 100%;
    height: 100%;
    background-image: url("@/assets/images/login.svg");
    background-size: 100%;

    .form-login {
        position: relative;
        left: 0%;
        top: 10%;
        transform: translate(0%, 0%);
        width: 368px;
        min-width: 260px;
        margin: 0 auto;

        .login-head {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                width: 40px;
            }

            .title {
                font-weight: 600;
                font-size: 33px;
                color: lighten($blackTextColor, 12%);
                margin: 0 20px;
            }
        }

        .sub-title {
            font-size: 14px;
            color: lighten($blackTextColor, 35%);
            text-align: center;
            padding: 10px 0;
            letter-spacing: 1px;
        }

        .ant-tabs-nav {
            margin-bottom: 30px;
        }

        .ant-tabs-nav::before {
            border-bottom: none
        }

        .form-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn-confirm {
            width: 100%;
        }
    }

    .tabs {
        margin-top: 20px;
    }

    .copyright {
        color: lighten($blackTextColor, 35%);
        text-align: center;
        font-size: 14px;
        position: fixed;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 1px;
    }
}