.vw {
  width: 100vw;
}

.vh {
  height: 100vh;
}

.width {
  width: 100%;
}

.height {
  height: 100%;
}

.cup {
  cursor: pointer;
}

.br {
  border-radius: 3px;
}

.pd {
  padding: 4px 20px;
}

.ovh{
  overflow: hidden;
}

.ovs{
  overflow: scroll;
}

.ova{
  overflow: auto;
}

.ovx-h{
  overflow-x: hidden;
}

.ovy-h{
  overflow-y: hidden;
}

.ovy-a{
  overflow-y: auto;
}

.ovx-a{
  overflow-x: auto;
}

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.sticky{
  position: sticky;
}
