@import '@/less/common.less';
@import '@/less/text.less';
@import '@/less/border.less';
@import '@/less/flex.less';
@import '@/less/color.less';
@import '@/less/animation.less';
@import '@/less/color.less';
@import '@/less/box.less';
@import '@/less/gap.less';

:root {
  --bar-height: 56px;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}
#root{
  width: 100%;
  height: 100%;
}
