@import "theme/white.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.default-contant {
    background-color: $defaultBackroundColor;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.opacityBackground {
    background: $defaultBackroundColor;
  //  background-color: rgba($opacityColor, 1) !important;
    border-block-start: 1px solid rgba(5, 5, 5, 0.06);
    border-block-end: 1px solid rgba(5, 5, 5, 0.06);
    -webkit-backdrop-filter: blur(8px);
  //  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    backdrop-filter: saturate(180%) blur(20px);
   
}

.flex-box {
    .ant-flex {
        width: 100%;
        margin-bottom: 10px;
    }
}