.main-page {
    margin: 24px;

    .card-chart {
        width: 100%;
        height: 46px;
    }

    .salesDoughnut-card {
        width: 100%;
        height: 100%;

        .ant-card {
            width: 100%;
            height: 100%;

          
        }  .ant-card-body {
            width: 100%;
            height: 80%;
        }
    }

    .salesDoughnut-chart {
        width: 100%;
        height: 100%;
    }

    .at-divider {
        margin: 10px 0;
    }

    .echart-panel {
        width: 100%;
        margin-top: 30px;
    }

    .tabs-chart {
        width: 100%;
        height: 330px;

        .ant-tabs-content {
            height: 100%;
        }

        .ant-tabs-tabpane {
            height: 100%;
        }
    }

    .ant-card-head-title {
        font-weight: 500;
    }

    .anticon-caret-up {
        color: #f5222d;
        font-size: 14px;
    }

    .anticon-caret-down {
        color: #52c41a;
        font-size: 14px;
    }
}